
/* about us open */
.about_us {
    background-color:rgb(0 42 71);
    padding: 50px 0px 30px 0px;
    
    color: white;
    margin: 0px 0%;
}

.about_us h1{
    text-decoration: underline;
}
.about_us .about_img{
    display: flex;
    align-items: center;
}
.about_us .about_img img{
    width: 100%;
    max-width:500px
}
.about_us .about_text{
    text-align: justify;
    word-break: break-all;
}
@media (max-width:992px){
    .about_us .about_img img{
        max-width: 100%;
    }
}
/* about us close */