body{
    background: rgb(13, 36, 97) !important;;
    
}

h1{
    color: aliceblue;
    text-align: center;
    padding: 20px;
    justify-content: center;
    text-decoration: underline;
}
.nav-link{
    color: aliceblue;
    background-color: blue;
    
}

    

.firstsec{
    background-color: white;
    border-radius: 20px;
    border:1px solid red;
    margin: 30px;

    align-items: center;
    
}
p{
    text-align: center;
    padding: 5px;
    margin: 0px;
    text-align: center;
    color: rgb(10, 10, 80);
    padding: 20px;
}
.fimg img{
    display: flex;
    height: 665px;
    
}
.fblock{
    display: flex;
}
